.analytics-container {
  padding: 30px;
}

.analytics-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.chart-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 700px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}